# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/

.env
.env gwdg
# Files

# Ignore app data folder
Backend/app data/

# Ignore sample data folder
Backend/sample data/

# Ignore all notebook files inside Backend
Backend/*.ipynb

VM/